# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
temp/
tmp/

# VS Code
.vscode/

# Dataset
data/UTKFace/

# Cache
.cache/